<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NoteAppExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>action.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F960FABF1A524F8600663270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F960FAD71A524F8700663270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F960FAEB1A524F9500663270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F960FAFE1A52509100663270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
